{% block navigation %}

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-1">
        <a class="nav-link text-white" href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link text-white" href="#"><i class="fab fa-youtube"></i></a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link text-white" href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="nav-item dropdown mx-1">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cloud-sun"></i> 0.9°C
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Today</a>
          <a class="dropdown-item" href="#">Tomorrow</a>
          <a class="dropdown-item" href="#">Day after tomorrow</a>
        </div>
      </li>
      <li class="nav-item dropdown mx-1">
        <a class="nav-link dropdown-toggle text-white" href="#" id="b2bdropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          B2B
        </a>
        <div class="dropdown-menu" aria-labelledby="b2bdropdown">
          <a class="dropdown-item" href="#">B2B - Tourism Industry & Media Services</a>
          <a class="dropdown-item" href="#">Vienna Experts Club</a>
          <a class="dropdown-item" href="#">Vienna Convention Bureau</a>
          <a class="dropdown-item" href="#">Vienna Picture</a>
        </div>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link text-white" href="#"><i class="far fa-envelope"></i> Newsletter</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white mx-1" href="#" id="signDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-hand-paper"></i> Sign language
        </a>
        <div class="dropdown-menu" aria-labelledby="signDropdown">
          <a class="dropdown-item" href="#">ASL Videos</a>
          <a class="dropdown-item" href="#">BSL Videos</a>
        </div>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-white dropdown-toggle text-white" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-globe"></i> English
      </button>
      <div class="dropdown-menu" aria-labelledby="languageDropdown">
        <a class="dropdown-item" href="#">Deutsch</a>
      </div>
    </div>

    {% if app.user %}<a class="nav-link text-white" href="{{ path('event_new') }}"><i class="far fa-plus-square"></i> Create new event</a>{% endif %}

    <div class="dropdown">
      <button class="btn btn-white dropdown-toggle text-white" type="button" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-suitcase"></i> My Account
      </button>
      <div class="dropdown-menu" aria-labelledby="accountDropdown">
        {% if not app.user %}<a class="dropdown-item" href="/login">Login</a>
        <a class="dropdown-item" href="/register">Register</a>{% endif %}
        {% if app.user %}<a class="dropdown-item" href="/logout">Logout</a>{% endif %}
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid text-center p-4">
  <h1><a href="/" class="text-danger text-decoration-none"><strong>B&nbsp;I&nbsp;G&nbsp;&nbsp;E&nbsp;V&nbsp;E&nbsp;N&nbsp;T&nbsp;S</strong></a></h1>
  <p class="text-danger">NOW <i class="fas fa-heart"></i> FOREVER</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-top border-bottom border-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimayContent" aria-controls="navbarPrimayContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarPrimayContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item p-2 text-center">
        <a class="nav-link text-danger" href="#">Sightseeing</a>
      </li>
      <li class="nav-item p-2 text-center">
        <a class="nav-link text-danger" href="#">Music & Stage Shows</a>
      </li>
      <li class="nav-item p-2 text-center">
        <a class="nav-link text-danger" href="#">Shopping, Wining & Dining</a>
      </li>
      <li class="nav-item p-2 text-center">
        <a class="nav-link text-danger" href="#">Lifestyle & Scene</a>
      </li>
      <li class="nav-item p-2 text-center">
        <a class="nav-link text-danger" href="#">More Vienna</a>
      </li>
      <li class="nav-item p-2 text-center">
        <a class="nav-link text-danger" href="#">Hotels in Vienna & Travel Info</a>
      </li>
    </ul>
  </div>
</nav>

<img src="{{ asset('assets/img/header.jpg') }}" class="img-fluid w-100 border-bottom border-danger" alt="Big Events in Vienna"/>

{% endblock %}
